<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="BotoX">
<meta name="description" content="Xiaomi Mi 1S / Pro2 VLT Custom Firmware Toolkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<title>Xiaomi Mi 1S / Pro2 VLT Custom Firmware Toolkit</title>
</head>

<body>

<div class="header">
    <h1>Xiaomi Mi 1S / Pro2 VLT Custom Firmware Toolkit</h1>
</div>

<div class="content">
<p>
Konfiguriere deine eigene VLT Firmware durch Anpassung der unten stehenden Optionen.<br/>
Sei gewarnt, dass eine höhere Motorleistung die Lebenszeit deiner Batterie verkürzt und deinen Motor schädigen kann.<br/>
Standardmäßig wird nichts gepatcht, sondern erst wenn eine Checkbox aktiviert wird.<br/>
</p>

<p>
    Voreinstellungen:
    <button onclick="Preset_Mi1S();">Mi 1S (default)</button>
    <button onclick="Preset_MiPro2();">Mi Pro2 (default)</button>
</p>

<noscript>This website (despite it's look) requires some very simple JavaScript which is embedded in this HTML.</noscript>

<hr>
<form action="/cfw">
<ul>
    <li>
    <label><b>Basis Firmware Version:</b>
    <select name="version">
        <option value="DRV236">2.3.6 (Mi Pro2)</option>
        <option value="DRV304">3.0.4 (Mi 1S)</option>
    </select></label>
    </li>

    <li>
    <label><b>Bremslicht Mod</b>
        <input name="brakelight_mod" type="checkbox"></label>
    <p>
    Bei Aktivem GM verhält sich das Rücklicht wie als wenn GM nicht Aktiv ist.<br />
    Es Blinkt nicht wenn man die Bremse betätigt oder vom Gas geht.
    </p>
    </li>

    <li>
    <label><b>22&nbsp;km/h Mod</b>
        <input name="speed_plus2" type="checkbox"></label>
    <p>

    Hebt das Deutsche Geschwindigkeits Limit des Sport Modus auf 22Kmh an.<br/>
    Nutzt die Aktuelle Gesetzeslage komplett aus, da man aktuell in DE 20 + 2Kmh Toleranz schnell fahren darf.<br/>
    Nicht wundern, Der Tacho vom Pro 2 zeigt nach 2-3 sekunden Top Speed nur 21Kmh an.<br/>
    Es schwankt aber zwischen 21,4 - 21,8 Kmh nur wird es mangels Display Funktion nicht angezeigt.
    </p>
    </li>

    <li>
    <label><b>Automatisches abbremsen deaktivieren ("Remove 30km/h speed check"):</b>
    <input type="checkbox" name="remove_autobrake"></label>
    <p>
    Der Roller bremst bei overspeed nicht mehr automatisch ab und piepst auch nicht.<br />
    Z.b. wenn man einen Hang runter rollt (wenn man vom Gas geht greift natürlich trotzdem Kers) oder im leerlauf schnell auf Vmax beschleunigt.<br />
    Es wird auch nicht von alleine über 20Kmh oder mit 22Kmh Mod über 22Kmh schnell wenn das Rad in der Luft dreht.<br />
    </li>

    <li>
    <label><b>KERS ausschalten</b>
        <input name="remove_kers" type="checkbox"></label>
    <p>
    Rekuperation (KERS) wird beim Ausrollen komplett entfernt.<br />
    Energierückgewinnung greift nur noch wenn die elektrische Bremse (Rechts) betätigt wird.
    </p>
    </li>

    <li>
    <label><b>Motor Startgeschwindigkeit:</b>
    <input name="motor_start_speed" type="number" step="0.01" min="0" max="100" value="5.0" disabled>&nbsp;km/h</label>
    <label><input type="checkbox" onchange="CheckForm('motor_start_speed', this);">Patch?</label>
    <p>
    Die Startgeschwindigkeit bei dem der Motor aktiviert wird.<br />
    Standard ist 5-Kmh. (0-Kmh braucht trotzdem einen winzigen Stubser damit der Motor los geht)
    </li>

    <li>
    <label><b>Zusatzakku Fix ("Remove charging mode"):</b>
    <input type="checkbox" name="remove_charging_mode"></label>
    <p>
    Zusatzakku Auflade Fix.<br />
    Roller fährt, trotz alledem der interne Akku vom Externen geladen wird.
    </p>
    </li>

    <li>
    <label><b>(Ungetestet!!!!!) Leistungsparameter Mod? </b>
    <input type="checkbox" name="speed_params" onchange="CheckForm('speed_ampere', this); CheckForm('normal_ampere', this); CheckForm('eco_ampere', this);"></label>
    <p><u>DC Motor Phasenstrom</u><br />
        <label>Speed Mode: <input name="speed_ampere" type="number" step="1" min="0" max="65535" value="25000" disabled>&nbsp;mA</label><br>
        <label>Normal Mode: <input name="normal_ampere" type="number" step="1" min="0" max="65535" value="17000" disabled>&nbsp;mA</label><br>
        <label>Eco Mode: <input name="eco_ampere" type="number" step="1" min="0" max="65535" value="7000" disabled>&nbsp;mA</label>
    </p>
    </li>

</ul>
<hr>

<p>
	Bitte prüfe vor dem Patchen erneut, ob alle gemachten Eingaben passen<br />
    <b>Patch erstellen:</b>
    <input type="submit" value="Patch!"/>
    <button type="button" onclick="Share();">Share</button>
    <span id="shareConfirmation"></span>
</p>
</form>

<p>
    <b><span style="color: red;">&#9888;&nbsp;NEW </span>Dieses Tool erstellt eine .zip Datei mit sowohl verschlüsselter als auch entschlüsselter Firmware und einer info.txt.</b><br>
    <b><span style="color: red;">&#9888;&nbsp;NEW </span>Zum Flashen benutze z.B. von CamiAlfa die App <a href="https://play.google.com/store/apps/details?id=com.m365downgrade">m365 DownG</a></b>.
    Sie wählt automatisch die korrekte Firmware für deinen Scooter.<br />Bitte nicht die .zip Datei mit alten / gepatchten Apps flashen!
</p>

<hr>
<p>
    Credits an VooDooShamane (RollerPlausch) für <a href="https://rollerplausch.com/threads/vlt-firmwares-in-de-22kmh-mit-neuster-vanilla-firmware-und-vieles-mehr.3197/">seine Arbeit</a> an den Offsets!
    Leistungsparameter Mod für DRV236/DRV304 von dnandha.
</p>
<p>
Mi 1S / Pro2 VLT Firmware Patcher by dnandha: <a href="https://github.com/dnandha/vlt-firmware-patcher" target="_blank">https://github.com/dnandha/vlt-firmware-patcher</a> <br/>
    Basiert auf BotoX' m365 Firmware Patcher: <a href="https://github.com/BotoX/xiaomi-m365-firmware-patcher" target="_blank">https://github.com/BotoX/xiaomi-m365-firmware-patcher</a>
</div>

<script>
    var forms = {
        "VERSION": "version",
        "BRAKELIGHT_MOD": "brakelight_mod",
        "SPEED_PLUS2": "speed_plus2",
        "MOTOR_START_SPEED": "motor_start_speed",
        "REMOVE_KERS": "remove_kers",
        "REMOVE_AUTOBRAKE": "remove_autobrake",
        "REMOVE_CHARGING_MODE": "remove_charging_mode",
        "SPEED_PARAMS": "speed_params",
        "SPEED_AMPERE": "speed_ampere",
        "NORMAL_AMPERE": "normal_ampere",
        "ECO_AMPERE": "eco_ampere",
    };

    var formValues = Object.values(forms);
    var queryStrings = window.location.search.substring(1);
    var queries = queryStrings.split('&');

    for (var i = 0; i < queries.length; i++) {
        var query = queries[i];
        var tmp = query.split('=');
        var found = false;

        for (var j = 0; j < formValues.length; j++) {
            if (formValues[j] === tmp[0]) {
                found = true;
                break;
            }
        }

        if(found) {
            if (tmp[1] === 'on') {
                tmp[1] = true;
            }

            ChangeForm(tmp[0], tmp[1], true);
        }
    }

    function GetForm(name) {
        return document.getElementsByName(name)[0];
    }

    function GetFormValue(name) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            return o.checked;
        }

        return o.value;
    }

    function GetPatchCheckBox(name) {
        var form = GetForm(name);
        if(form.type != "checkbox") {
            return form.parentElement && form.parentElement.nextElementSibling && form.parentElement.nextElementSibling.children[0];
        }
    }

    function CheckForm(name, cb) {
        GetForm(name).disabled = !cb.checked;
    }

    function ChangeForm(name, value, patch) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            o.checked = value;
        } else {
            o.value = value;
        }
        if(o.onchange) { o.onchange(); }

        if (typeof patch === 'boolean') {
            var cb = GetPatchCheckBox(name);

            if (cb) {
                cb.checked = patch;
                if(cb.onchange) { cb.onchange(); }
            }
        }
    }

    function Preset_Default() {
        ChangeForm(forms.BRAKELIGHT_MOD, false);
        ChangeForm(forms.SPEED_PLUS2, false);
        ChangeForm(forms.MOTOR_START_SPEED, "5.0", false);
        ChangeForm(forms.REMOVE_KERS, false);
        ChangeForm(forms.REMOVE_AUTOBRAKE, false);
        ChangeForm(forms.REMOVE_CHARGING_MODE, false);
	ChangeForm(forms.SPEED_PARAMS, false);
    }

    function Preset_Mi1S() {
	Preset_Default();
        ChangeForm(forms.VERSION, "DRV304");
	ChangeForm(forms.SPEED_AMPERE, "20000");
	ChangeForm(forms.NORMAL_AMPERE, "15000");
	ChangeForm(forms.ECO_AMPERE, "7000");
    }

    function Preset_MiPro2() {
	Preset_Default();
        ChangeForm(forms.VERSION, "DRV236");
	ChangeForm(forms.SPEED_PARAMS, false);
	ChangeForm(forms.SPEED_AMPERE, "25000");
	ChangeForm(forms.NORMAL_AMPERE, "17000");
	ChangeForm(forms.ECO_AMPERE, "7000");
    }

    function Share() {
        var url = location.protocol + '//' + location.host;
        var firstParam = true;

        function getSeparator() {
            if (firstParam) {
                firstParam = false;
                return '?';
            }

            return '&';
        }

        for (var i = 0; i < formValues.length; i++) {
            var form = formValues[i];

            var formValue = GetFormValue(form);
            var patchCheckbox = GetPatchCheckBox(form);

            if (patchCheckbox) {
                if (patchCheckbox.checked) {
                    url += getSeparator() + form + '=' + formValue;
                }
            } else if (typeof formValue === 'boolean') {
                if (formValue) {
                    url += getSeparator() + form + '=on';
                }
            } else {
                url += getSeparator() + form + '=' + formValue;
            }
        }

        var textArea = document.createElement("textarea");

        textArea.value = url;
        document.body.appendChild(textArea);

        textArea.focus();
        textArea.select();

        document.execCommand('copy');
        document.getElementById('shareConfirmation').innerText = 'Copied!';

        document.body.removeChild(textArea);
    }
</script>

</body>
