<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="author" content="BotoX">
<meta name="description" content="VLT Custom Firmware Toolkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<title>NextGen Firmware Toolkit</title>
</head>

<body>

<noscript>This website requires JavaScript.</noscript>

<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-1">NextGen FW</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <p class="lead">
                This page documents all selected modifications. A BytePatch file can be generated for each modification.
            </p>
            <p class="text">
                This information service is provided free of charge and it must stay that way.
                    If you decide to use the information provided here for your project, please add a reference to this site!
            </p>
        </div>
    </div>

    {% for (patch,offsets) in patches %}
	<div class="modal fade" id="{{offsets[0][0]}}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
			  <div class="modal-header">
				  <h5 class="modal-title">{{patch}}</h5>
			  </div>
			<div class="modal-body">
				<p style="word-wrap: break-word; ">
					{% for (name, ofs, pre, post) in offsets %}
						bytepatch.exe "%1" -a {{ofs}} {{post}}<br/>
					{% endfor %}
					pause
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
			</div>
		    </div>
		</div>
	</div>
	<div class="card">
	    <div class="card-header text-center">
	    	<b>{{patch}}</b>
	    </div>
	    <div class="card-body">
		<div class="card-text">
			<table class="table table-bordered table-hover table-sm">
				<thead class="thead-light">
					<tr>
						<th scope="col">Offset</th>
						<th scope="col">Original</th>
						<th scope="col">Modified</th>
					</tr>
				</thead>
				<tbody>

			{% for (name, ofs, pre, post) in offsets %}
			<tr>
				<td>{{ofs}}</td>
				<td style="word-wrap: break-word; max-width: 10rem">{{pre}}</td>
				<td style="word-wrap: break-word; max-width: 10rem">{{post}}</td>
			{% endfor %}

				</tbody>
			</table>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{offsets[0][0]}}">
				BytePatch
			</button>
		</div>
	    </div>
	</div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
</html>
