<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="author" content="BotoX">
<meta name="description" content="Xiaomi Mi 1S / Pro2 VLT Custom Firmware Toolkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newstyle.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<title>Xiaomi Mi 1S / Pro2 VLT Custom Firmware Toolkit</title>
</head>

<body onload="OnLoad()">

<noscript>Diese Webseite benötigt JavaScript.</noscript>

<div class="container">
    <div class="row"><div class="col center-block text-center">
        <h1>VLT Firmwares für Mi 1S / Pro2</h1>
    </div></div>

    <div class="row"><div class="col">
	    <p class="text">
		Konfiguriere deine eigene VLT Firmware durch Anpassung der unten stehenden Optionen.
		Sei gewarnt, dass eine höhere Motorleistung die Lebenszeit deiner Batterie verkürzt und deinen Motor schädigen kann. Standardmäßig wird nichts gepatcht, sondern erst wenn eine Checkbox aktiviert wird.<br/>
	    </p>
    </div></div>

    <div class="row">
        <div class="col">
            Voreinstellung:
        </div>
        <div class="col">
            <select class="form-select" id="modeselect" onchange="ChangeMode()">
                <option value="default">Empfohlen</option>
                <option value="custom">Erweitert</option>
                <option value="custom-dev">Experimentell</option>
            </select>
        </div>
    </div>

    <hr>
    <form action="/cfw"  method = "POST" enctype = "multipart/form-data">
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="brakelight_mod" type="checkbox">
                <label class="form-check-label"><b>Bremslicht Mod</b></label>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Bei Aktivem GM verhält sich das Rücklicht wie als wenn GM nicht Aktiv ist.
                    Es Blinkt nicht wenn man die Bremse betätigt oder vom Gas geht.
                </div>
            </div>
        </div>

        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="speed_plus2" type="checkbox">
                <label class="form-check-label"><b>22&nbsp;km/h Mod</b></label>
            </div>

            <div class="card-body">
                Hebt das Deutsche Geschwindigkeits Limit des Sport Modus auf 22Kmh an.
                Nutzt die Aktuelle Gesetzeslage komplett aus, da man aktuell in DE 20 + 2Kmh Toleranz schnell fahren darf. Nicht wundern, Der Tacho vom Pro 2 zeigt nach 2-3 sekunden Top Speed nur 21Kmh an. Es schwankt aber zwischen 21,4 - 21,8 Kmh nur wird es mangels Display Funktion nicht angezeigt.
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="remove_autobrake">
                <label class="form-check-label"><b>Automatisches abbremsen deaktivieren</b></label>
            </div>
            <div class="card-body">
                <div class="card-title"><i>Remove 30km/h speed check</i></div>
                <div class="card-text">
                    Der Roller bremst bei overspeed nicht mehr automatisch ab und piepst auch nicht.
                    Z.b. wenn man einen Hang runter rollt (wenn man vom Gas geht greift natürlich trotzdem Kers) oder im leerlauf schnell auf Vmax beschleunigt. Es wird auch nicht von alleine über 20Kmh oder mit 22Kmh Mod über 22Kmh schnell wenn das Rad in der Luft dreht.
                </div>
            </div>
        </div>

        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="motor_start_speed_cb" type="checkbox" onchange="CheckForm('motor_start_speed', this);">
                <label class="form-check-label"><b>Motor Startgeschwindigkeit</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
			<div>km/h</div>
			<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('motor_start_speed', 'mss_value')">-</button><input class="form-range" name="motor_start_speed" type="range" step="0.5" min="0" max="10" value="5" onchange="OnSliderChange('mss_value', this.value)" oninput="OnSliderChange('mss_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('motor_start_speed', 'mss_value')">+</button></span><div id="mss_value">5</div>
                </div>
                <div class="card-text">
                    Die Startgeschwindigkeit bei dem der Motor aktiviert wird.
                    Standard ist 5-Kmh. 0-Kmh braucht trotzdem einen winzigen Stubser damit der Motor los geht.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1 custom" hidden>
            <div class="card-header">
                <input class="form-check-input" name="remove_kers" type="checkbox">
                <label class="form-check-label"><b>KERS ausschalten</b></label>
            </div>
            <div class="card-body">
                Rekuperation (KERS) wird beim Ausrollen komplett entfernt.
                Energierückgewinnung greift nur noch wenn die elektrische Bremse (Rechts) betätigt wird.
            </div>
        </div>


        <div class="card text-center m-1 custom" hidden>
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="remove_charging_mode">
                <label class="form-check-label"><b>Zusatzakku Fix</b></label>
            </div>
            <div class="card-body">
                <div class="card-title"><i>Remove charging mode</i></div>
                <div class="card-text">
                    Zusatzakku Auflade Fix.
                    Roller fährt, trotz alledem der interne Akku vom Externen geladen wird.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1 custom" hidden>
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="dpc">
                <label class="form-check-label"><b>DPC</b></label>
            </div>

            <div class="card-body">
                DPC Aktivierung und Deaktivierung erfolgt über eine Register Flag.
                Bei Neustart bzw. Ausschalten des Rollers wird DPC ebenfalls zurückgesetzt.
            </div>
        </div>

        <div class="card text-center m-1 border-warning custom">
            <div class="card-header">
                <input class="form-check-input" name="shutdown_time_cb" type="checkbox" onchange="CheckForm('shutdown_time', this);">
                <label class="form-check-label"><b>Ausschaltzeit</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
			<div>Sekunden</div>
			<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('shutdown_time', 'shutdown_value')">-</button><input class="form-range" name="shutdown_time" type="range" step="0.5" min="1" max="9" value="5" onchange="OnSliderChange('shutdown_value', this.value)" oninput="OnSliderChange('shutdown_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('shutdown_time', 'shutdown_value')">+</button></span><div id="shutdown_value">5</div>
                </div>
                <div class="card-text">
                    Hierbei handelt es sich um die Dauer, die man den An/Aus-Knopf gedrückt halten muss, bis der Roller ausgeht.
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card text-center m-1 border-danger custom-dev" hidden>
            <div class="card-header">
                <input class="form-check-input" name="wheelsize_cb" type="checkbox" onchange="CheckForm('wheelsize', this);">
                <label class="form-check-label"><b>Rad Durchmesser (Experimentell)</b></label>
            </div>

            <div class="card-body">
                <div class="card-title center-block">
			<div>Zoll</div>
			<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('wheelsize', 'wheelsize_value')">-</button><input class="form-range" name="wheelsize" type="range" step="0.1" min="0" max="30" value="8.5" onchange="OnSliderChange('wheelsize_value', this.value)" oninput="OnSliderChange('wheelsize_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('wheelsize', 'wheelsize_value')">+</button></span><div id="wheelsize_value">8.5</div>

                </div>
                <div class="card-text">
                    Getestet mit 10 Zoll Reifen an 1S. Geschwindigkeit okay, Anzugsverhalten prüfen.
                </div>
            </div>
        </div>
        <div class="card text-center m-1 border-warning custom" hidden>
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="thirtyamps">
                <label class="form-check-label"><b>30 Ampere Speed Mode</b></label>
            </div>
            <div class="card-body">
                Der Nennstrom / DC Phasenstrom für den Speed Mode wird auf 30A (Ampere) gesetzt. Standard sind 20A beim 1S und 25A beim Pro2.
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-4">
            Achtung: Bitte prüfe vor dem Patchen erneut, ob alle gemachten Eingaben passen!!<br />
        </div>
        <div class="col">
            <b><label id="drvselect" class="custom-file-label" for="file">Vanilla Datei auswählen (DRV236 für Pro2 / DRV304 für 1S):</label></b>

              <input type="file" id="file" class="custom-file-input" name="filename">
          <input type="submit" value="Patch!">

            <input class="form-check-input" name="testzip" type="checkbox" hidden>
            <label class="form-check-label" hidden><b>TESTZIP</b></label>
        </div>
    </div>

    </form>

    <div class="row">
        <div class="col">
            <b><span style="color: red;">&#9888;&nbsp;NEW </span>Dieses Tool erstellt eine .zip Datei mit sowohl verschlüsselter als auch entschlüsselter Firmware und einer info.txt.</b><br>
            <b><span style="color: red;">&#9888;&nbsp;NEW </span>Zum Flashen der erstellten .zip Datei benutze z.B. von CamiAlfa die App <a href="https://play.google.com/store/apps/details?id=com.m365downgrade">m365 DownG</a></b>.
            Sie wählt automatisch die korrekte Firmware für deinen Scooter. Bitte nicht die .zip Datei mit alten / gepatchten Apps flashen!
        </div>
    </div>

    <hr>
    <div class="row">
	    <div class="col">
		<h4 class="text-start">Credits</h3>
		<p class="text">
			VLT Firmwares von VooDooShamane (Rollerplausch): <a href="https://rollerplausch.com/threads/vlt-firmwares-in-de-22kmh-mit-neuster-vanilla-firmware-und-vieles-mehr.3197/">Link zum Thread</a><br/>
			Großen Dank an die Tester: @Daniel_Gee @mhdot
		</p>
	    </div>
	    <div class="col">
		<h4 class="text-start">Disclaimer</h3>
		<p class="text-md">
		    VLT Firmware Patcher by NandTek (dnandha): <a href="https://github.com/dnandha/vlt-firmware-patcher" target="_blank">Link zu GitHub</a> <br/>
		    Basiert auf BotoX' m365 Firmware Patcher: <a href="https://github.com/BotoX/xiaomi-m365-firmware-patcher" target="_blank">Link zu GitHub</a>
		</p>
	    </div>

    </div>
</div>

<script>
    var forms = {
        "VERSION": "version",
        "BRAKELIGHT_MOD": "brakelight_mod",
        "SPEED_PLUS2": "speed_plus2",
        "MOTOR_START_SPEED": "motor_start_speed",
        "REMOVE_KERS": "remove_kers",
        "REMOVE_AUTOBRAKE": "remove_autobrake",
        "REMOVE_CHARGING_MODE": "remove_charging_mode",
        "DPC": "dpc",
        "WHEELSIZE": "wheelsize",
        "THIRTYAMPS": "thirtyamps",
        "SHUTDOWN_TIME": "shutdown_time",
    };

    var formValues = Object.values(forms);
    var queryStrings = window.location.search.substring(1);
    var queries = queryStrings.split('&');

    for (var i = 0; i < queries.length; i++) {
        var query = queries[i];
        var tmp = query.split('=');
        var found = false;

        for (var j = 0; j < formValues.length; j++) {
            if (formValues[j] === tmp[0]) {
                found = true;
                break;
            }
        }

        if(found) {
            if (tmp[1] === 'on') {
                tmp[1] = true;
            }

            ChangeForm(tmp[0], tmp[1], true);
        }
    }

    function OnSliderChange(elname, value) {
        var ws_val = document.getElementById(elname);
	ws_val.innerHTML = value;
    }

    function Round(value) {
	    return Math.round(value * 10) / 10;
    }

    function SliderUp(name, valuename) {
	    var slider = document.getElementsByName(name)[0];
	    if (slider.disabled) {
		    return;
	    }
	    const value = Round(parseFloat(slider.value) + parseFloat(slider.step));

	    slider.value = value

	    OnSliderChange(valuename, value);
    }

    function SliderDown(name, valuename) {
	    var slider = document.getElementsByName(name)[0];
	    if (slider.disabled) {
		    return;
	    }
	    const value = Round(parseFloat(slider.value) - parseFloat(slider.step));

	    slider.value = value

	    OnSliderChange(valuename, value);
    }

    function GetForm(name) {
        return document.getElementsByName(name)[0];
    }

    function GetFormValue(name) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            return o.checked;
        }

        return o.value;
    }

    function GetPatchCheckBox(name) {
    	return GetForm(`${name}_cb`);
    }

    function CheckForm(name, cb) {
        GetForm(name).disabled = !cb.checked;
    }

    function ChangeForm(name, value, patch) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            o.checked = value;
        } else {
            o.value = value;
        }
        if(o.onchange) { o.onchange(); }

        if (typeof patch === 'boolean') {
            var cb = GetPatchCheckBox(name);

            if (cb) {
                cb.checked = patch;
                if(cb.onchange) { cb.onchange(); }
            }
        }
    }

    function OnLoad(){
	    ChangeMode();
    }

    function ChangeMode(){
        Preset_Default();

        var mode = document.getElementById("modeselect").value
        var divs = document.getElementsByClassName("custom");
        for (var i=0; i < divs.length; i++) {
            if (mode === "custom" || mode === "custom-dev") {
                divs[i].removeAttribute("hidden");
            } else {
                const hidden = document.createAttribute("hidden");
                divs[i].setAttributeNode(hidden);
            }
        }

        divs = document.getElementsByClassName("custom-dev");
        for (var i=0; i < divs.length; i++) {
            if (mode === "custom-dev") {
                divs[i].removeAttribute("hidden");
            } else {
                const hidden = document.createAttribute("hidden");
                divs[i].setAttributeNode(hidden);
            }
        }
    }

    function Preset_Default() {
        ChangeForm(forms.BRAKELIGHT_MOD, true);
        ChangeForm(forms.SPEED_PLUS2, true);
        ChangeForm(forms.MOTOR_START_SPEED, "3", true);
        ChangeForm(forms.REMOVE_AUTOBRAKE, true);
        ChangeForm(forms.DPC, false);
        ChangeForm(forms.REMOVE_KERS, false);
        ChangeForm(forms.REMOVE_CHARGING_MODE, false);
        ChangeForm(forms.WHEELSIZE, "8.5", false);
        ChangeForm(forms.THIRTYAMPS, false);
        ChangeForm(forms.SHUTDOWN_TIME, "5", false);
    }
</script>

</body>
