<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="author" content="BotoX">
<meta name="description" content="XNG Custom Firmware Toolkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<title>NextGen Firmware Toolkit</title>
</head>

<body onload="OnLoad()">

<noscript>This website requires JavaScript.</noscript>

    <div id="disclaimer" class="modal red darken-4 white-text">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Agreement</h4>
            </div>
            <div class="modal-body">
                I acknowledge that this site only provides information for test purposes.
                <br /><br />
                I am familiar with my local laws and acknowledge that I solely am responsible for potential harm caused to myself or others.
                <br />
		<br /><b>I own the device and software subject to modification!</b>

		<br /><br /><u>Disclaimer</u><br />This site is not affiliated with any brand or manufacturer and does not host any copyright material. The user has the option to upload a file, which is modified according to the user selection. The modified file is presented to the user end-to-end and not saved on any servers .
            </div>
            <div class="modal-footer red darken-2 white-text">
		    <i>By clicking on "Agree" I confirm the aforementioned and accept the disclaimer.</i>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Agree</button>
            </div>
        </div>
        </div>
    </div>

<div class="container">
    <div class="text-center">
        <h1 class="display-1">NextGen FW</h1>

        <p class="lead">
            Configure your own NextGen firmware (NGFW) by adjusting the options below. <b>Both V3.0 and V3.1 controllers are supported!</b> By default nothing will be patched, enable patches with the checkbox next to them.
        </p>
        <p class="text">
        This information service is provided free of charge and for personal use only. The source code is available at <a href="https://github.com/dnandha/firmware-patcher/tree/ng">GitHub</a>. Selling or distributing files related to this service is prohibited. If you decide to use any of the information provided here for your project, please add a reference to this site!
        </p>
    </div>

    <hr>
    <div class="row text-center">
        <div class="col"><h5>Load Preset</h5></div>
        <div class="col">
            <select class="form-select" id="devselect" name="device" onchange="ChangeDevice()">
                <option value="1s">1S</option>
                <option value="pro2">Pro2</option>
                <option value="lite">Lite/Essential</option>
                <option value="mi3">3</option>
            </select>
        </div>
    </div>

    <hr>
    <form action="/cfw"  method = "POST" enctype = "multipart/form-data">
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="dpc" type="checkbox">
                <label class="form-check-label"><b>DPC</b></label>
            </div>
            <div class="card-body">
                Activate/Deactivate DPC via register.
            </div>
        </div>
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="remove_autobrake">
                <label class="form-check-label"><b>Remove Speed Check</b></label>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Remove automatic braking at certain speeds.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="remove_charging_mode">
                <label class="form-check-label"><b>Remove Charging Mode</b></label>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Ignore input from charging line.
                </div>
            </div>
        </div>
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="remove_kers" type="checkbox">
                <label class="form-check-label"><b>No KERS</b></label>
            </div>
            <div class="card-body">
                Deactivates KERS (Improved version).
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="shutdown_time_cb" type="checkbox" onchange="CheckForm('shutdown_time', this);">
                <label class="form-check-label"><b>Shutdown Time</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
			<div>Seconds</div>
			<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('shutdown_time', 'shutdown_value')">-</button><input class="form-range" name="shutdown_time" type="range" step="0.5" min="1" max="9" value="3" onchange="OnSliderChange('shutdown_value', this.value)" oninput="OnSliderChange('shutdown_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('shutdown_time', 'shutdown_value')">+</button></span><div id="shutdown_value">3</div>
                </div>
                <div class="card-text">
                    Time you have to press the power button until the device turns off.
                </div>
            </div>
        </div>
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="cc_delay_cb" type="checkbox" onchange="CheckForm('cc_delay', this);">
                <label class="form-check-label"><b>Cruise Control Delay</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
			<div>Seconds</div>
			<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('cc_delay', 'cc_delay_val')">-</button><input class="form-range" name="cc_delay" type="range" step="1" min="1" max="9" value="5" onchange="OnSliderChange('cc_delay_val', this.value)" oninput="OnSliderChange('cc_delay_val', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('cc_delay', 'cc_delay_val')">+</button></span><div id="cc_delay_val">5</div>
                </div>
                <div class="card-text">
                    Time needed for cruise control to kick in.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="motor_start_speed_cb" type="checkbox" onchange="CheckForm('motor_start_speed', this);">
                <label class="form-check-label"><b>Motor Start Speed</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col">km/h</div>
                        <div class="col" id="mss_value"></div>
                    </div>
                    <div class="row">
                        <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('motor_start_speed', 'mss_value')">-</button><input class="form-range" name="motor_start_speed" type="range" step="0.5" min="0" max="10" value="5" onchange="OnSliderChange('mss_value', this.value)" oninput="OnSliderChange('mss_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('motor_start_speed', 'mss_value')">+</button></span>
                    </div>
                </div>
                <div class="card-text">
                    Minimum required speed before the motor will start.
                </div>
            </div>
        </div>
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="crc_cb" type="checkbox" onchange="CheckForm('crc', this);">
                <label class="form-check-label"><b>CRC</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col" id="crc_value"></div>
                    </div>
                    <div class="row">
                        <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('crc', 'crc_value')">-</button><input class="form-range" name="crc" type="range" step="1" min="0" max="2000" value="300" onchange="OnSliderChange('crc_value', this.value)" oninput="OnSliderChange('crc_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('crc', 'crc_value')">+</button></span>
                    </div>
                </div>
                <div class="card-text">
                    Current raising coefficient defines the increments of current increase.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" name="wheelsize_cb" type="checkbox" onchange="CheckForm('wheelsize', this);">
                <label class="form-check-label"><b>Wheel Size</b></label>
            </div>

            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col">Inches</div>
                        <div class="col" id="wheelsize_value"></div>
                    </div>
                    <div class="row">
                        <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('wheelsize', 'wheelsize_value')">-</button><input class="form-range" name="wheelsize" type="range" step="0.1" min="0" max="30" value="8.5" onchange="OnSliderChange('wheelsize_value', this.value)" oninput="OnSliderChange('wheelsize_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('wheelsize', 'wheelsize_value')">+</button></span>
                    </div>
                </div>
                <div class="card-text">
                    When upgrading / changing the stock wheels, this parameter has to be adjusted to match GPS speed and torque.
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="sl_cb" onchange="CheckForm('sl_speed', this);CheckForm('sl_drive', this); CheckForm('sl_pedo', this);">
                <label class="form-check-label"><b>Speed Limit</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Sport Mode, km/h</label></div>
                            <div class="col" id="sl_speed_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('sl_speed', 'sl_speed_value')">-</button><input class="form-range" name="sl_speed" type="range" step="1" min="0" max="35" value="0" onchange="OnSliderChange('sl_speed_value', this.value)" oninput="OnSliderChange('sl_speed_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('sl_speed', 'sl_speed_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Drive Mode, km/h</label></div>
                            <div class="col" id="sl_drive_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('sl_drive', 'sl_drive_value')">-</button><input class="form-range" name="sl_drive" type="range" step="1" min="0" max="35" value="0" onchange="OnSliderChange('sl_drive_value', this.value)" oninput="OnSliderChange('sl_drive_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('sl_drive', 'sl_drive_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Pedestrian Mode, km/h</label></div>
                            <div class="col" id="sl_pedo_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('sl_pedo', 'sl_pedo_value')">-</button><input class="form-range" name="sl_pedo" type="range" step="1" min="0" max="35" value="0" onchange="OnSliderChange('sl_pedo_value', this.value)" oninput="OnSliderChange('sl_pedo_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('sl_pedo', 'sl_pedo_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    These values define the maximum speed of each mode - does not apply to DPC.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="amps_cb" onchange="CheckForm('amps_speed', this);CheckForm('amps_drive', this); CheckForm('amps_pedo', this);">
                <label class="form-check-label"><b>Nominal Current</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Sport Mode, mA</label></div>
                            <div class="col" id="amps_speed_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_speed', 'amps_speed_value')">-</button><input class="form-range" name="amps_speed" type="range" step="500" min="0" max="35000" value="0" onchange="OnSliderChange('amps_speed_value', this.value)" oninput="OnSliderChange('amps_speed_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_speed', 'amps_speed_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Drive Mode, mA</label></div>
                            <div class="col" id="amps_drive_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_drive', 'amps_drive_value')">-</button><input class="form-range" name="amps_drive" type="range" step="500" min="0" max="35000" value="0" onchange="OnSliderChange('amps_drive_value', this.value)" oninput="OnSliderChange('amps_drive_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_drive', 'amps_drive_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Pedestrian Mode, mA</label></div>
                            <div class="col" id="amps_pedo_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_pedo', 'amps_pedo_value')">-</button><input class="form-range" name="amps_pedo" type="range" step="500" min="0" max="35000" value="0" onchange="OnSliderChange('amps_pedo_value', this.value)" oninput="OnSliderChange('amps_pedo_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_pedo', 'amps_pedo_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    <span style="color: red;">&#9888;&nbsp;These values affect battery life and setting them too high can toast your controller!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="amps_max_cb" onchange="CheckForm('amps_speed_max', this);CheckForm('amps_drive_max', this); CheckForm('amps_pedo_max', this);">
                <label class="form-check-label"><b>Maximum Current</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Sport Mode, max. mA</label></div>
                            <div class="col" id="amps_speed_max_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_speed_max', 'amps_speed_max_value')">-</button><input class="form-range" name="amps_speed_max" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_speed_max_value', this.value)" oninput="OnSliderChange('amps_speed_max_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_speed_max', 'amps_speed_max_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Drive Mode, max. mA</label></div>
                            <div class="col" id="amps_drive_max_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_drive_max', 'amps_drive_max_value')">-</button><input class="form-range" name="amps_drive_max" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_drive_max_value', this.value)" oninput="OnSliderChange('amps_drive_max_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_drive_max', 'amps_drive_max_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Pedestrian Mode, max. mA</label></div>
                            <div class="col" id="amps_pedo_max_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_pedo_max', 'amps_pedo_max_value')">-</button><input class="form-range" name="amps_pedo_max" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_pedo_max_value', this.value)" oninput="OnSliderChange('amps_pedo_max_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_pedo_max', 'amps_pedo_max_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    <span style="color: red;">&#9888;&nbsp;These values affect battery life and setting them too high can toast your controller!</span>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="text">
                <span style="color: red;">&#9888;&nbsp;Warning:&nbsp;</span>
                Before proceeding, please check all entered values! Select a file and press one of the two buttons: "Patch!" applies the selected patches on the uploaded file (returning the processed file for download), "Documentation" generates a full description of all selected mods.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b><label id="drvselect" class="custom-file-label" for="file">Select Input File:</label></b>
        </div>
        <div class="col">
            <input type="file" id="file" class="custom-file-input" name="filename">
        </div>
        <div class="col">
            <input type="submit" name="patchordoc" value="Patch!">
            <input type="submit" name="patchordoc" value="Documentation">
        </div>
    </div>
    </form>

    <hr>
    <div class="row">
	    <div class="col-sm-2">
            <h4 class="text-start">Credits</h4>
        </div>
        <div class="col">
            <p class="text">
            These patches are an adaptation of the mods available at https://pro2.cfw.sh/ for new DRVs, including some improved and new mods.. Thanks to the authors at ScooterHacking.org!
            Based on BotoX <a href="https://github.com/BotoX/xiaomi-m365-firmware-patcher" target="_blank">firmware patcher</a>.
            </p>
	    </div>

    </div>
</div>

<script>
    var forms = {
        "VERSION": "version",
        "DPC": "dpc",
        "MOTOR_START_SPEED": "motor_start_speed",
        "REMOVE_KERS": "remove_kers",
        "REMOVE_AUTOBRAKE": "remove_autobrake",
        "REMOVE_CHARGING_MODE": "remove_charging_mode",
        "CC_DELAY": "cc_delay",
        "CRC": "crc",
        "WHEELSIZE": "wheelsize",
        "SHUTDOWN_TIME": "shutdown_time",
        "SL": "sl_cb",
        "SL_SPEED": "sl_speed",
        "SL_DRIVE": "sl_drive",
        "SL_PEDO": "sl_pedo",
        "AMPS": "amps_cb",
        "AMPS_SPEED": "amps_speed",
        "AMPS_DRIVE": "amps_drive",
        "AMPS_PEDO": "amps_pedo",
        "AMPS_MAX": "amps_max_cb",
        "AMPS_SPEED_MAX": "amps_speed_max",
        "AMPS_DRIVE_MAX": "amps_drive_max",
        "AMPS_PEDO_MAX": "amps_pedo_max",
    };

    var formValues = Object.values(forms);
    var queryStrings = window.location.search.substring(1);
    var queries = queryStrings.split('&');

    for (var i = 0; i < queries.length; i++) {
        var query = queries[i];
        var tmp = query.split('=');
        var found = false;

        for (var j = 0; j < formValues.length; j++) {
            if (formValues[j] === tmp[0]) {
                found = true;
                break;
            }
        }

        if(found) {
            if (tmp[1] === 'on') {
                tmp[1] = true;
            }

            ChangeForm(tmp[0], tmp[1], true);
        }
    }

    function OnSliderChange(elname, value) {
        var ws_val = document.getElementById(elname);
        ws_val.innerHTML = value;
    }

    function Round(value) {
	    return Math.round(value * 10) / 10;
    }

    function SliderUp(name, valuename) {
	    var slider = document.getElementsByName(name)[0];
	    if (slider.disabled) {
		    return;
	    }
	    const value = Round(parseFloat(slider.value) + parseFloat(slider.step));

	    slider.value = value

	    OnSliderChange(valuename, value);
    }

    function SliderDown(name, valuename) {
	    var slider = document.getElementsByName(name)[0];
	    if (slider.disabled) {
		    return;
	    }
	    const value = Round(parseFloat(slider.value) - parseFloat(slider.step));

	    slider.value = value

	    OnSliderChange(valuename, value);
    }

    function GetForm(name) {
        return document.getElementsByName(name)[0];
    }

    function GetFormValue(name) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            return o.checked;
        }

        return o.value;
    }

    function GetPatchCheckBox(name) {
        return GetForm(`${name}_cb`);
    }

    function CheckForm(name, cb) {
        var o = GetForm(name);
        if (o.value != 0) {
            o.disabled = !cb.checked;
        }
    }

    function ChangeForm(name, value, patch) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            o.checked = value;
        } else {
            o.value = value;
        }
        if(o.onchange) { o.onchange(); }

        if (typeof patch === 'boolean') {
            var cb = GetPatchCheckBox(name);

            if (cb) {
                cb.checked = patch;
                if(cb.onchange) { cb.onchange(); }
            }
        }
    }

    function OnLoad(){
        var warning = new bootstrap.Modal(document.getElementById('disclaimer'));
        warning.show();
    
        ChangeDevice();
    }

    function ChangeDevice(){
        Preset_Default();

        var dev = document.getElementById("devselect").value;
        if (dev === "pro2") {
            Preset_Pro2();
        } else if (dev === "1s") {
            Preset_1S();
        } else if (dev === "lite") {
            Preset_Lite();
        } else if (dev === "mi3") {
            Preset_Mi3();
        }
    }

    function Preset_1S() {
        ChangeForm(forms.AMPS_SPEED, "20000", false);
        ChangeForm(forms.AMPS_DRIVE, "15000", false);
        ChangeForm(forms.AMPS_SPEED_MAX, "35000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "28000", false);
    }

    function Preset_Pro2() {
        ChangeForm(forms.AMPS_SPEED, "25000", false);
        ChangeForm(forms.AMPS_DRIVE, "17000", false);
        ChangeForm(forms.AMPS_SPEED_MAX, "55000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "32000", false);
    }

    function Preset_Lite() {
        ChangeForm(forms.SL_SPEED, "20", false);
        ChangeForm(forms.SL_DRIVE, "15", false);
        ChangeForm(forms.AMPS_SPEED, "17000", false);
        ChangeForm(forms.AMPS_DRIVE, "0", false);
        ChangeForm(forms.AMPS_SPEED_MAX, "32000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "0", false);
    }

    function Preset_Mi3() {
        ChangeForm(forms.AMPS_SPEED, "26500", false);
        ChangeForm(forms.AMPS_DRIVE, "15000", false);
        ChangeForm(forms.AMPS_SPEED_MAX, "55000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "28000", false);
    }

    function Preset_Default() {
        ChangeForm(forms.DPC, false);
        ChangeForm(forms.MOTOR_START_SPEED, "5.0", false);
        ChangeForm(forms.REMOVE_AUTOBRAKE, false);
        ChangeForm(forms.REMOVE_KERS, false);
        ChangeForm(forms.REMOVE_CHARGING_MODE, false);
        ChangeForm(forms.CC_DELAY, "5", false);
        ChangeForm(forms.CRC, "300", false);
        ChangeForm(forms.WHEELSIZE, "8.5", false);
        ChangeForm(forms.SHUTDOWN_TIME, "3.0", false);
        ChangeForm(forms.SL, false);
        ChangeForm(forms.SL_SPEED, "25", false);
        ChangeForm(forms.SL_DRIVE, "20", false);
        ChangeForm(forms.SL_PEDO, "5", false);
        ChangeForm(forms.AMPS, false);
        ChangeForm(forms.AMPS_MAX, false);
        ChangeForm(forms.AMPS_PEDO, "7000", false);
        ChangeForm(forms.AMPS_PEDO_MAX, "8000", false);
    }
</script>

<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
</html>
