<!--
    If you decide to steal this template, at least mention where you got it from.
-->
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="author" content="D. Nandha">
<meta name="description" content="NextGen Firmware Toolkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='ngfw.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<title>NextGen Firmware Toolkit</title>
</head>

<body onload="OnLoad()">

<noscript>This website requires JavaScript.</noscript>

    <div id="disclaimer" class="modal red darken-4 white-text">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Agreement</h4>
            </div>
            <div class="modal-body">
                I acknowledge that this site only provides information for test purposes.
                <br /><br />
                I am familiar with my local laws and acknowledge that I solely am responsible for potential harm caused to myself or others.
                <br />
		<br /><b>I own the device and software subject to modification!</b>

        <br /><br /><u>Disclaimer</u><br />This site is not affiliated with any brand or manufacturer and does not host any copyright material. The user has the option to upload a file, which is modified according to the user selection. The modified file is presented to the user end-to-end and not saved on any servers. Please read and accept the <a href="/disclaimer">full disclaimer</a>.
            </div>
            <div class="modal-footer red darken-2 white-text">
                <i>By clicking on "Agree" I confirm the aforementioned usage notice and accept the disclaimer.</i>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Agree</button>
            </div>
        </div>
        </div>
    </div>

<div class="container">
    <div class="text-center">
        <h1 class="display-1">NextGen FW</h1>

        <p class="lead">
            Configure your own NextGen firmware (NGFW) by adjusting the options below. <b>Both V3.0 and V3.1 controllers are supported!</b> By default nothing will be patched, enable patches with the checkbox next to them.
        </p>
        <p class="text">
        Important notes: This information service is provided free of charge and for personal use only. Selling or distributing files or parts related to this service is prohibited. If you decide to use any of the information provided here for your project, please add a reference to this site! The source code is available at <a href="https://github.com/dnandha/firmware-patcher">GitHub</a>. 
        </p>
    </div>

    <hr>
    <form action="/cfw"  method="POST" enctype="multipart/form-data">
    <div class="row text-center">
        <div class="col"><h5>Load Preset</h5></div>
        <div class="col">
            <select class="form-select" id="devselect" name="device" onchange="ChangeDevice()">
                <option value="1s">1S</option>
                <option value="pro2">Pro2</option>
                <option value="lite">Lite/Essential</option>
                <option value="mi3">Mi3</option>
                <option value="4pro">4 Pro</option>
            </select>
        </div>
    </div>

    <hr/>
    <h5 class="text-center">FW</h5>
    <div class="card-group text-center">
		<div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="rml">
                <label class="form-check-label"><b>Remove Model Lock (Latest DRVs)</b></label>
            </div>
            <div class="card-body">
                Latest DRVs restrict flashing of DRVs to the ones belonging to the model. This mod removes the model check and allows flashing all DRVs, for example: DRV016 to DRV247/SHFW.
            </div>
        </div>
    </div>

    <br/>
    <h5 class="text-center">ESC</h5>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="dpc" type="checkbox">
                <label class="form-check-label"><b>DPC</b></label>
            </div>
            <div class="card-body">
                Activate/Deactivate DPC via register.
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="remove_autobrake">
                <label class="form-check-label"><b>Remove Speed Check</b></label>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Remove automatic braking at certain speeds.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="remove_charging_mode">
                <label class="form-check-label"><b>Remove Charging Mode</b></label>
            </div>
            <div class="card-body">
                <div class="card-text">
                    Ignore input from charging line.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="remove_kers" type="checkbox" onclick="ChangeForm('kml', false)">
                <label class="form-check-label"><b>No KERS</b></label>
            </div>
            <div class="card-body">
                Deactivates KERS (Improved version: Error 1 fix + KERS-Multiplier=0).
            </div>
        </div>
    </div>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="motor_start_speed_cb" type="checkbox" onchange="CheckForm('motor_start_speed', this);">
                <label class="form-check-label"><b>Motor Start Speed</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col">km/h</div>
                        <div class="col" id="mss_value"></div>
                    </div>
                    <div class="row">
                        <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('motor_start_speed', 'mss_value')">-</button><input class="form-range" name="motor_start_speed" type="range" step="0.5" min="0" max="10" value="5" onchange="OnSliderChange('mss_value', this.value)" oninput="OnSliderChange('mss_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('motor_start_speed', 'mss_value')">+</button></span>
                    </div>
                </div>
                <div class="card-text">
                    Minimum required speed before the motor will start.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="crc_cb" type="checkbox" onchange="CheckForm('crc', this);">
                <label class="form-check-label"><b>CRC</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col" id="crc_value"></div>
                    </div>
                    <div class="row">
                        <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('crc', 'crc_value')">-</button><input class="form-range" name="crc" type="range" step="1" min="0" max="2000" value="300" onchange="OnSliderChange('crc_value', this.value)" oninput="OnSliderChange('crc_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('crc', 'crc_value')">+</button></span>
                    </div>
                </div>
                <div class="card-text">
                    Current raising coefficient, defines the increments of current increase.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="shutdown_time_cb" type="checkbox" onchange="CheckForm('shutdown_time', this);">
                <label class="form-check-label"><b>Shutdown Time</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
			<div>Seconds</div>
			<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('shutdown_time', 'shutdown_value')">-</button><input class="form-range" name="shutdown_time" type="range" step="0.5" min="1" max="20" value="3" onchange="OnSliderChange('shutdown_value', this.value)" oninput="OnSliderChange('shutdown_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('shutdown_time', 'shutdown_value')">+</button></span><div id="shutdown_value">3</div>
                </div>
                <div class="card-text">
                    Time you have to press the power button until the device turns off.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="cc_delay_cb" type="checkbox" onchange="CheckForm('cc_delay', this);">
                <label class="form-check-label"><b>Cruise Control Delay</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
			<div>Seconds</div>
			<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('cc_delay', 'cc_delay_val')">-</button><input class="form-range" name="cc_delay" type="range" step="1" min="1" max="9" value="5" onchange="OnSliderChange('cc_delay_val', this.value)" oninput="OnSliderChange('cc_delay_val', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('cc_delay', 'cc_delay_val')">+</button></span><div id="cc_delay_val">5</div>
                </div>
                <div class="card-text">
                    Time needed for cruise control to kick in.
                </div>
            </div>
        </div>
    </div>

    <br/>
    <h5 class="text-center">Special</h5>
    <div class="card-group text-center">
		<div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="rfm">
                <label class="form-check-label"><b>Region-Free</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    Remove regional restrictions normally imposed by the serial number, such as 20 km/h speed limit, missing cruise control and backlight-on feature. If changing speed limits doesn't have any effect, you might want to enable this mod!<br/>
                    Effectively converts a european device to an international device.
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="eco_mode" onclick="Pedo_To_Eco(this)">
                <label class="form-check-label"><b>Pedestrian -> ECO Mode</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    Replace pedestrian mode with ECO mode. This gives you another driveable mode with slightly reduced consumption at 15 km/h.
                </div>
                <div class="card-text">
                    This is a convenience function! The same effect can be achieved by setting nominal+maximum current and speed limit higher for the pedestrian mode manually.<br/>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group text-center">
		<div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="blm" onchange="CheckForm('blm_alm', this);">
                <label class="form-check-label"><b>Static Brakelight</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    Replaces the blinking backlight by a static backlight on braking (improved version).
                    When "Auto-Light" is additionaly selected the default backlight brightness is lowered.
                </div>
                <div class="card-text">
                    <input class="form-check-input" type="checkbox" name="blm_alm">
                    <label class="form-check-label"><b>Auto-Light</b></label><br/>
                    This mod gives the same effect as rear brakelights on a car when braking.
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="pnb">
                <label class="form-check-label"><b>Pedestrian No-Blink</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    Remove flashing / blinking taillight in pedestrian mode.
                </div>
                <div class="card-text">
                    Makes the taillight togglable like in every other mode. Can be combined with static brakelight to remove blinking on brake (when region-free).
                </div>
            </div>
        </div>
    </div>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="ammeter">
                <label class="form-check-label"><b>Current-Meter</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    Replaces the battery percentage shown on dashboard by actual current consumption.
                    No bars means no consumption, full bars means 25 amps consumption.<br/>
                </div>
                <div class="card-text">
                    With this mod the battery percentage can only be read out using an app.<br/>
                    <span style="color: red;">&#9888;&nbsp;When charging the dashboard will show a constant "0", but charging works normally.</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="bts">
                <label class="form-check-label"><b>Button Swap</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    Swaps the function of single and double button tap.
                </div>
                <div class="card-text">
                    A single button tap switches mode, two button taps turn light on/off.<br/>
                    Useful if you want to be able to switch modes more easily.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card text-center m-1">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="kml" onchange="CheckForm('kml_l0', this);CheckForm('kml_l1', this);CheckForm('kml_l2', this);" onclick="ChangeForm('remove_kers', false);">
                <label class="form-check-label"><b>Custom KERS</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <span class="input-group-text">Weak:&nbsp;<button type="button" class="btn btn-secondary" onclick="SliderDown('kml_l0', 'kml_l0_value')">-</button><input class="form-range" name="kml_l0" type="range" step="1" min="0" max="30" value="6" onchange="OnSliderChange('kml_l0_value', this.value)" oninput="OnSliderChange('kml_l0_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('kml_l0', 'kml_l0_value')">+</button></span><div id="kml_l0_value">6</div>
                    <span class="input-group-text">Middle:&nbsp;<button type="button" class="btn btn-secondary" onclick="SliderDown('kml_l1', 'kml_l1_value')">-</button><input class="form-range" name="kml_l1" type="range" step="1" min="0" max="30" value="12" onchange="OnSliderChange('kml_l1_value', this.value)" oninput="OnSliderChange('kml_l1_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('kml_l1', 'kml_l1_value')">+</button></span><div id="kml_l1_value">12</div>
                    <span class="input-group-text">Strong:&nbsp;<button type="button" class="btn btn-secondary" onclick="SliderDown('kml_l2', 'kml_l2_value')">-</button><input class="form-range" name="kml_l2" type="range" step="1" min="0" max="30" value="20" onchange="OnSliderChange('kml_l2_value', this.value)" oninput="OnSliderChange('kml_l2_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('kml_l2', 'kml_l2_value')">+</button></span><div id="kml_l2_value">20</div>
                </div>

                <div class="card-text">
                    Set the three KERS multiplier levels individually. Set value to "0" to turn KERS off. <b>Note:</b> Overrides <b>No KERS</b> mod!
                </div>
            </div>
        </div>
    </div>

    <br/>
    <h5 class="text-center">Limits</h5>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="sl_cb" onchange="CheckForm('sl_sport', this);CheckForm('sl_drive', this); CheckForm('sl_pedo', this);" onclick="ChangeForm('eco_mode', false);">
                <label class="form-check-label"><b>Speed Limit</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Sport Mode, km/h</label></div>
                            <div class="col" id="sl_sport_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('sl_sport', 'sl_sport_value')">-</button><input class="form-range" name="sl_sport" type="range" step="1" min="0" max="65" value="0" onchange="OnSliderChange('sl_sport_value', this.value)" oninput="OnSliderChange('sl_sport_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('sl_sport', 'sl_sport_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Drive Mode, km/h</label></div>
                            <div class="col" id="sl_drive_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('sl_drive', 'sl_drive_value')">-</button><input class="form-range" name="sl_drive" type="range" step="1" min="0" max="65" value="0" onchange="OnSliderChange('sl_drive_value', this.value)" oninput="OnSliderChange('sl_drive_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('sl_drive', 'sl_drive_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Pedestrian Mode, km/h</label></div>
                            <div class="col" id="sl_pedo_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('sl_pedo', 'sl_pedo_value')">-</button><input class="form-range" name="sl_pedo" type="range" step="1" min="0" max="65" value="0" onchange="OnSliderChange('sl_pedo_value', this.value)" oninput="OnSliderChange('sl_pedo_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('sl_pedo', 'sl_pedo_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    These values define the maximum speed of each mode. <b>Note:</b> DPC mode ignores speed limits.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="amps_cb" onchange="CheckForm('amps_sport', this);CheckForm('amps_drive', this); CheckForm('amps_pedo', this);" onclick="ChangeForm('eco_mode', false);">
                <label class="form-check-label"><b>Nominal Current</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Sport Mode, mA</label></div>
                            <div class="col" id="amps_sport_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_sport', 'amps_sport_value')">-</button><input class="form-range" name="amps_sport" type="range" step="500" min="0" max="35000" value="0" onchange="OnSliderChange('amps_sport_value', this.value)" oninput="OnSliderChange('amps_sport_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_sport', 'amps_sport_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Drive Mode, mA</label></div>
                            <div class="col" id="amps_drive_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_drive', 'amps_drive_value')">-</button><input class="form-range" name="amps_drive" type="range" step="500" min="0" max="35000" value="0" onchange="OnSliderChange('amps_drive_value', this.value)" oninput="OnSliderChange('amps_drive_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_drive', 'amps_drive_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Pedestrian Mode, mA</label></div>
                            <div class="col" id="amps_pedo_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_pedo', 'amps_pedo_value')">-</button><input class="form-range" name="amps_pedo" type="range" step="500" min="0" max="35000" value="0" onchange="OnSliderChange('amps_pedo_value', this.value)" oninput="OnSliderChange('amps_pedo_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_pedo', 'amps_pedo_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    These values define the maximum current that is applied when the throttle lever is fully pressed (for each mode). Increasing the value will give a better acceleration and up-hill performance, at the cost of battery life.<br/>
                    <span style="color: red;">&#9888;&nbsp;Affects battery life! Too high currents can toast your cables or controller!!</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="amps_max_cb" onchange="CheckForm('amps_sport_max', this);CheckForm('amps_drive_max', this); CheckForm('amps_pedo_max', this);" onclick="ChangeForm('eco_mode', false);">
                <label class="form-check-label"><b>Maximum Current</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Sport Mode, max. mA</label></div>
                            <div class="col" id="amps_sport_max_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_sport_max', 'amps_sport_max_value')">-</button><input class="form-range" name="amps_sport_max" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_sport_max_value', this.value)" oninput="OnSliderChange('amps_sport_max_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_sport_max', 'amps_sport_max_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Drive Mode, max. mA</label></div>
                            <div class="col" id="amps_drive_max_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_drive_max', 'amps_drive_max_value')">-</button><input class="form-range" name="amps_drive_max" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_drive_max_value', this.value)" oninput="OnSliderChange('amps_drive_max_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_drive_max', 'amps_drive_max_value')">+</button></span>
                        </div>

                        <div class="row">
                            <div class="col"><label class="form-check-label">Pedestrian Mode, max. mA</label></div>
                            <div class="col" id="amps_pedo_max_value"></div>
                        </div>
                        <div class="row">
				<span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_pedo_max', 'amps_pedo_max_value')">-</button><input class="form-range" name="amps_pedo_max" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_pedo_max_value', this.value)" oninput="OnSliderChange('amps_pedo_max_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_pedo_max', 'amps_pedo_max_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    These values the define the hard upper current limit of each mode. Upon reaching these values, the current is fully cut - the motor can't draw currents higher than this.<br/>
                    <span style="color: red;">&#9888;&nbsp;Affects battery life! Too high currents can toast your cables or controller!!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="amps_brake_min_cb" onchange="CheckForm('amps_brake_min', this);">
                <label class="form-check-label"><b>Minimum Brake Current</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Brake, min. mA</label></div>
                            <div class="col" id="amps_brake_min_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_brake_min', 'amps_brake_min_value')">-</button><input class="form-range" name="amps_brake_min" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_brake_min_value', this.value)" oninput="OnSliderChange('amps_brake_min_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_brake_min', 'amps_brake_min_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    This value defines the brake current that is always added whenever you touch the brake. Gives you control over the lower end of brake. When lowering this value, you should increase the <b>Maximum Brake Current</b> by the same amount!<br/>
                    <span style="color: red;">&#9888;&nbsp;Affects SAFETY! Modify at your own risk!!</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="amps_brake_max_cb" onchange="CheckForm('amps_brake_max', this);">
                <label class="form-check-label"><b>Maximum Brake Current</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                        <div class="row">
                            <div class="col"><label class="form-check-label">Brake, max. mA</label></div>
                            <div class="col" id="amps_brake_max_value"></div>
                        </div>
                        <div class="row">
                            <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('amps_brake_max', 'amps_brake_max_value')">-</button><input class="form-range" name="amps_brake_max" type="range" step="500" min="0" max="65000" value="0" onchange="OnSliderChange('amps_brake_max_value', this.value)" oninput="OnSliderChange('amps_brake_max_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('amps_brake_max', 'amps_brake_max_value')">+</button></span>
                        </div>
                </div>
                <div class="card-text">
                    This value defines the maximum current that is substracted, when the brake lever is fully pulled. Decreasing the value will result in the brake being less effective overall! Only decrease if you think the brake is way too strong.<br/>
                    <span style="color: red;">&#9888;&nbsp;Affects SAFETY! Modify at your own risk!!</span>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <h5 class="text-center">Hardware</h5>
    <div class="card-group text-center">
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="wheelsize_cb" type="checkbox" onchange="CheckForm('wheelsize', this);">
                <label class="form-check-label"><b>Wheel Size</b></label>
            </div>

            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col">Inches</div>
                        <div class="col" id="wheelsize_value"></div>
                    </div>
                    <div class="row">
                        <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('wheelsize', 'wheelsize_value')">-</button><input class="form-range" name="wheelsize" type="range" step="0.1" min="0" max="30" value="8.5" onchange="OnSliderChange('wheelsize_value', this.value)" oninput="OnSliderChange('wheelsize_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('wheelsize', 'wheelsize_value')">+</button></span>
                    </div>
                </div>
                <div class="card-text">
                    When upgrading / changing the stock wheels, this parameter has to be adjusted to match the GPS speed and torque.
                </div>
            </div>
        </div>
    </div>
    <div class="card-group text-center">
		<div class="card">
            <div class="card-header">
                <input class="form-check-input" type="checkbox" name="baud">
                <label class="form-check-label"><b>Baudrate</b></label>
            </div>
            <div class="card-body">
                <div class="card-title">
                    Change baudrate from 115200 to 76800.
                </div>
                <div class="card-text">
                    Required for OpenSource BMS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <input class="form-check-input" name="volt_cb" type="checkbox" onchange="CheckForm('volt', this);">
                <label class="form-check-label"><b>Voltage Limit</b></label>
            </div>

            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col">V</div>
                        <div class="col" id="volt_value"></div>
                    </div>
                    <div class="row">
                        <span class="input-group-text"><button type="button" class="btn btn-secondary" onclick="SliderDown('volt', 'volt_value')">-</button><input class="form-range" name="volt" type="range" step="0.01" min="10" max="100" value="43.01" onchange="OnSliderChange('volt_value', this.value)" oninput="OnSliderChange('volt_value', this.value)" disabled><button type="button" class="btn btn-primary" onclick="SliderUp('volt', 'volt_value')">+</button></span>
                    </div>
                </div>
                <div class="card-text">
                    Change when connecting a custom battery with a different voltage.
                </div>
            </div>
        </div>
    </div>
    <br/>
    <hr>
    <div class="row">
        <div class="col">
            <p class="text">
                <span style="color: red;">&#9888;&nbsp;Warning:&nbsp;</span>
                Before proceeding, please check all entered values! Select a valid file and press one of the buttons: "Bin" applies the selected patches on the uploaded file and returns the patched file, "Zip" further packs the patched file for flashing, "Doc" generates a full documentation of all selected mods.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b><label id="drvselect" class="custom-file-label">Select Input File:</label></b>
        </div>
        <div class="col">
            <input type="file" accept=".bin" class="custom-file-input" name="filename">
        </div>
        <div class="col">
            <label id="drvselect" class="custom-file-label">Output:</label>
            <input type="submit" name="patch" value="Bin">
            <input type="submit" name="patch" value="Zip">
            <input type="submit" name="patch" value="Doc">
        </div>
    </div>
    </form>

    <hr>
    <div class="row">
	    <div class="col-sm-2">
            <h4 class="text-start">Credits</h4>
        </div>
        <div class="col">
            <p class="text">
            Thanks to the modders at ScooterHacking.org. Many patches are an adaptation of the mods available at https://pro2.cfw.sh/.<br/>
            Thanks to the German and Spanish communities for additional testing.<br/>
            Thanks to Encryptize for contributing 4 Pro support!<br/>
            Based on BotoX <a href="https://github.com/BotoX/xiaomi-m365-firmware-patcher" target="_blank">firmware patcher</a>.
            </p>
	    </div>

    </div>
</div>

<script>
    var forms = {
        "VERSION": "version",
        "DPC": "dpc",
        "MOTOR_START_SPEED": "motor_start_speed",
        "REMOVE_KERS": "remove_kers",
        "REMOVE_AUTOBRAKE": "remove_autobrake",
        "REMOVE_CHARGING_MODE": "remove_charging_mode",
        "CC_DELAY": "cc_delay",
        "CRC": "crc",
        "WHEELSIZE": "wheelsize",
        "SHUTDOWN_TIME": "shutdown_time",
        "SL": "sl_cb",
        "SL_SPORT": "sl_sport",
        "SL_DRIVE": "sl_drive",
        "SL_PEDO": "sl_pedo",
        "AMPS": "amps_cb",
        "AMPS_SPORT": "amps_sport",
        "AMPS_DRIVE": "amps_drive",
        "AMPS_PEDO": "amps_pedo",
        "AMPS_MAX": "amps_max_cb",
        "AMPS_SPORT_MAX": "amps_sport_max",
        "AMPS_DRIVE_MAX": "amps_drive_max",
        "AMPS_PEDO_MAX": "amps_pedo_max",

        "AMPS_BRAKE_MIN": "amps_brake_min",
        "AMPS_BRAKE_MAX": "amps_brake_max",

        "AMMETER": "ammeter",
        "RFM": "rfm",
        "RML": "rml",
        "BLM": "blm",
        "BLM_ALM": "blm_alm",

        "BAUD": "baud",
        "VOLT": "volt",

        "ECO_MODE": "eco_mode",
        "PNB": "pnb",
        "BTS": "bts",

        "KML": "kml",
        "KML_L0": "kml_l0",
        "KML_L1": "kml_l1",
        "KML_L2": "kml_l2",
    };

    var formValues = Object.values(forms);
    var queryStrings = window.location.search.substring(1);
    var queries = queryStrings.split('&');

    for (var i = 0; i < queries.length; i++) {
        var query = queries[i];
        var tmp = query.split('=');
        var found = false;

        for (var j = 0; j < formValues.length; j++) {
            if (formValues[j] === tmp[0]) {
                found = true;
                break;
            }
        }

        if(found) {
            if (tmp[1] === 'on') {
                tmp[1] = true;
            }

            ChangeForm(tmp[0], tmp[1], true);
        }
    }

    function OnSliderChange(elname, value) {
        var ws_val = document.getElementById(elname);
        ws_val.innerHTML = value;
    }

    function Round(value) {
	    return Math.round(value * 10) / 10;
    }

    function SliderUp(name, valuename) {
	    var slider = document.getElementsByName(name)[0];
	    if (slider.disabled) {
		    return;
	    }
	    const value = Round(parseFloat(slider.value) + parseFloat(slider.step));

	    slider.value = value

	    OnSliderChange(valuename, value);
    }

    function SliderDown(name, valuename) {
	    var slider = document.getElementsByName(name)[0];
	    if (slider.disabled) {
		    return;
	    }
	    const value = Round(parseFloat(slider.value) - parseFloat(slider.step));

	    slider.value = value

	    OnSliderChange(valuename, value);
    }

    function GetForm(name) {
        return document.getElementsByName(name)[0];
    }

    function GetFormValue(name) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            return o.checked;
        }

        return o.value;
    }

    function GetPatchCheckBox(name) {
        return GetForm(`${name}_cb`);
    }

    function CheckForm(name, cb) {
        var o = GetForm(name);
        if (o.value != 0) {
            // temp
            var dev = document.getElementById("devselect").value;
            if (dev == '4pro' && name == forms.BLM_ALM) {
                return
            }

            o.disabled = !cb.checked;
        }
    }

    function ChangeForm(name, value, patch) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            o.checked = value;
        } else {
            o.value = value;
        }
        if(o.onchange) { o.onchange(); }

        if (typeof patch === 'boolean') {
            var cb = GetPatchCheckBox(name);

            if (cb) {
                cb.checked = patch;
                if(cb.onchange) { cb.onchange(); }
            }
        }
    }

    function OnLoad(){
        var warning = new bootstrap.Modal(document.getElementById('disclaimer'));
        warning.show();
    
        ChangeDevice();
    }

    function ChangeDevice(){
        Preset_Default();

        var dev = document.getElementById("devselect").value;

        if (dev === "pro2") {
            Preset_Pro2();
        } else if (dev === "1s") {
            Preset_1S();
        } else if (dev === "lite") {
            Preset_Lite();
        } else if (dev === "mi3") {
            Preset_Mi3();
        } else if (dev === "4pro") {
            Preset_4Pro();
        }
    }

    function Preset_1S() {
        ChangeForm(forms.AMPS_SPORT, "20000", false);
        ChangeForm(forms.AMPS_DRIVE, "15000", false);
        ChangeForm(forms.AMPS_SPORT_MAX, "35000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "28000", false);
        ChangeForm(forms.AMPS_BRAKE_MAX, "52000", false);
    }

    function Preset_Pro2() {
        ChangeForm(forms.AMPS_SPORT, "25000", false);
        ChangeForm(forms.AMPS_DRIVE, "17000", false);
        ChangeForm(forms.AMPS_SPORT_MAX, "55000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "32000", false);
        ChangeForm(forms.AMPS_BRAKE_MAX, "52000", false);
    }

    function Preset_Lite() {
        ChangeForm(forms.SL_SPORT, "20", false);
        ChangeForm(forms.SL_DRIVE, "15", false);
        ChangeForm(forms.AMPS_SPORT, "17000", false);
        ChangeForm(forms.AMPS_DRIVE, "0", false);
        ChangeForm(forms.AMPS_SPORT_MAX, "32000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "0", false);
        ChangeForm(forms.AMPS_BRAKE_MAX, "22000", false);

        GetForm(forms.RFM).disabled = true;
    }

    function Preset_Mi3() {
        ChangeForm(forms.AMPS_SPORT, "26500", false);
        ChangeForm(forms.AMPS_DRIVE, "15000", false);
        ChangeForm(forms.AMPS_SPORT_MAX, "55000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "28000", false);
        ChangeForm(forms.AMPS_BRAKE_MAX, "47000", false);
    }

    function Preset_4Pro() {
        ChangeForm(forms.AMPS_SPORT, "26500", false);
        ChangeForm(forms.AMPS_DRIVE, "19000", false);
        ChangeForm(forms.AMPS_SPORT_MAX, "55000", false);
        ChangeForm(forms.AMPS_DRIVE_MAX, "35000", false);
        ChangeForm(forms.AMPS_BRAKE_MAX, "57000", false);
        ChangeForm(forms.WHEELSIZE, "10.0", false);

        GetForm(forms.RML).disabled = true;
        GetForm(forms.BTS).disabled = true;
        GetForm(forms.BLM_ALM).disabled = true;
    }

    function Pedo_To_Eco(cb) {
        if (!GetFormValue(forms.SL)) {
            CheckForm(forms.SL_PEDO, cb);
        }
        if (!GetFormValue(forms.AMPS)) {
            CheckForm(forms.AMPS_PEDO, cb);
        }
        if (!GetFormValue(forms.AMPS_MAX)) {
            CheckForm(forms.AMPS_PEDO_MAX, cb);
        }
        ChangeForm(forms.PNB, cb.checked);
        if (cb.checked) {
            ChangeForm(forms.SL_PEDO, "15", false);
            ChangeForm(forms.AMPS_PEDO, "13000", false);
            ChangeForm(forms.AMPS_PEDO_MAX, "26000", false);
        }
    }

    function Preset_Default() {
        ChangeForm(forms.DPC, false);
        ChangeForm(forms.MOTOR_START_SPEED, "5.0", false);
        ChangeForm(forms.REMOVE_AUTOBRAKE, false);
        ChangeForm(forms.REMOVE_KERS, false);
        ChangeForm(forms.REMOVE_CHARGING_MODE, false);
        ChangeForm(forms.CC_DELAY, "5", false);
        ChangeForm(forms.CRC, "300", false);
        ChangeForm(forms.WHEELSIZE, "8.5", false);
        ChangeForm(forms.SHUTDOWN_TIME, "3.0", false);
        ChangeForm(forms.SL, false);
        ChangeForm(forms.SL_SPORT, "25", false);
        ChangeForm(forms.SL_DRIVE, "20", false);
        ChangeForm(forms.SL_PEDO, "5", false);
        ChangeForm(forms.AMPS, false);
        ChangeForm(forms.AMPS_MAX, false);
        ChangeForm(forms.AMPS_PEDO, "7000", false);
        ChangeForm(forms.AMPS_PEDO_MAX, "8000", false);
        ChangeForm(forms.AMPS_BRAKE_MIN, "8000", false);
		
        ChangeForm(forms.AMMETER, false);
        ChangeForm(forms.RFM, false);
        ChangeForm(forms.RML, false);
        ChangeForm(forms.BLM, false);
        ChangeForm(forms.BLM_ALM, false);

        ChangeForm(forms.BAUD, false);
        ChangeForm(forms.VOLT, "43.01", false);

        ChangeForm(forms.ECO_MODE, false);
        ChangeForm(forms.PNB, false);
        ChangeForm(forms.BTS, false);

        ChangeForm(forms.KML, false);
        ChangeForm(forms.KML_L0, "6", null);
        ChangeForm(forms.KML_L1, "12", null);
        ChangeForm(forms.KML_L2, "20", null);
    }
</script>

<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
<footer class="text-center">
    <p>---------- NGFW Counter ----------<br/>
    Bin: {{ counts['bin'] }} | Zip: {{ counts['zip'] }} | Doc: {{ counts['doc'] }}</p>
    <p>----------- GIT Summary ----------<br/>
    {{ gitinfo['date'] }}: {{ gitinfo['summary'] }}<br/>
    [Commit: {{ gitinfo['sha'] }}]</p>
    <a href="/privacy">Privacy</a>
    <a href="/disclaimer">Disclaimer</a>
</footer>
</html>
