<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="author" content="BotoX">
<meta name="description" content="Xiaomi Mi 1S / Pro2 VLT Custom Firmware Toolkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newstyle.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<title>Xiaomi Mi 1S / Pro2 VLT Custom Firmware Toolkit</title>
</head>

<body onload="ChangeVersionText()">

<noscript>Diese Webseite benötigt JavaScript.</noscript>

<div class="container">
    <div class="row"><div class="col">
        <h1>VLT Firmwares für Mi 1S / Pro2</h1>
    </div></div>

    <div class="row"><div class="col">
        Konfiguriere deine eigene VLT Firmware durch Anpassung der unten stehenden Optionen.
        Sei gewarnt, dass eine höhere Motorleistung die Lebenszeit deiner Batterie verkürzt und deinen Motor schädigen kann. Standardmäßig wird nichts gepatcht, sondern erst wenn eine Checkbox aktiviert wird.<br/>
    </div></div>

    <div class="row">
        <div class="col-sm-4">
            Voreinstellungen:
        </div>
        <div class="col">
            <button onclick="Preset_Mi1S();">Mi 1S (default)</button>
            <button onclick="Preset_MiPro2();">Mi Pro2 (default)</button>
        </div>
    </div>

    <hr>
    <form action="/cfw"  method = "POST" enctype = "multipart/form-data">
        <div class="row">
            <div class="col-sm-4"><b>Basis Firmware Version:</b></div>

            <div class="col-sm-4">
                <select class="form-select" id="verselect" name="version" onchange="ChangeVersionText()">
                    <option value="DRV236">2.3.6 (Mi Pro2)</option>
                    <option value="DRV304">3.0.4 (Mi 1S)</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <input class="form-check-input" id="brakelight_mod" name="brakelight_mod" type="checkbox">
                <label class="form-check-label"><b>Bremslicht Mod</b></label>
            </div>
            <div class="col">
                Bei Aktivem GM verhält sich das Rücklicht wie als wenn GM nicht Aktiv ist.
                Es Blinkt nicht wenn man die Bremse betätigt oder vom Gas geht.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <input class="form-check-input" name="speed_plus2" type="checkbox">
                <label class="form-check-label"><b>22&nbsp;km/h Mod</b></label>
            </div>

            <div class="col">
                Hebt das Deutsche Geschwindigkeits Limit des Sport Modus auf 22Kmh an.
                Nutzt die Aktuelle Gesetzeslage komplett aus, da man aktuell in DE 20 + 2Kmh Toleranz schnell fahren darf. Nicht wundern, Der Tacho vom Pro 2 zeigt nach 2-3 sekunden Top Speed nur 21Kmh an. Es schwankt aber zwischen 21,4 - 21,8 Kmh nur wird es mangels Display Funktion nicht angezeigt.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <input class="form-check-input" type="checkbox" name="remove_autobrake">
                <label class="form-check-label"><b>Automatisches abbremsen deaktivieren ("Remove 30km/h speed check")</b></label>
            </div>
            <div class="col">
                Der Roller bremst bei overspeed nicht mehr automatisch ab und piepst auch nicht.
                Z.b. wenn man einen Hang runter rollt (wenn man vom Gas geht greift natürlich trotzdem Kers) oder im leerlauf schnell auf Vmax beschleunigt. Es wird auch nicht von alleine über 20Kmh oder mit 22Kmh Mod über 22Kmh schnell wenn das Rad in der Luft dreht.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <input class="form-check-input" name="remove_kers" type="checkbox">
                <label class="form-check-label"><b>KERS ausschalten</b></label>
            </div>
            <div class="col">
                Rekuperation (KERS) wird beim Ausrollen komplett entfernt.
                Energierückgewinnung greift nur noch wenn die elektrische Bremse (Rechts) betätigt wird.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <input class="form-check-input" type="checkbox" onchange="CheckForm('motor_start_speed', this);">
                <div class="row">
                    <label class="form-check-label"><b>Motor Startgeschwindigkeit (km/h)</b></label>
                </div>
                <div class="row">
                    <input class="form-control" name="motor_start_speed" type="number" step="0.01" min="0" max="100" value="5.0" disabled>
                </div>
            </div>
            <div class="col">
                Die Startgeschwindigkeit bei dem der Motor aktiviert wird.
                Standard ist 5-Kmh. (0-Kmh braucht trotzdem einen winzigen Stubser damit der Motor los geht)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <label class="form-check-label"><b>Zusatzakku Fix ("Remove charging mode")</b></label>
                <input class="form-check-input" type="checkbox" name="remove_charging_mode">
            </div>
            <div class="col">
                Zusatzakku Auflade Fix.
                Roller fährt, trotz alledem der interne Akku vom Externen geladen wird.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <label class="form-check-label"><b>(Experimental!!) DPC</b></label>
                <input class="form-check-input" type="checkbox" name="dpc">
            </div>

            <div class="col">
                DPC Aktivierung/Deaktivierung erfolgt über eine Register Flag.
                Bei Neustart/Ausschalten des Rollers wird DPC ebenfalls zurückgesetzt.

                Erfolgreich getestet auf Mi Pro2. Mi 1S noch nicht getestet.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-check">
                <input class="form-check-input" type="checkbox" name="speed_params" onchange="CheckForm('speed_ampere', this); CheckForm('normal_ampere', this); CheckForm('eco_ampere', this);">
                <div class="row">
                    <label class="form-check-label"><b>(Experimental!!) Nennstrom / DC Phasenstrom</b></label>
                </div>
            </div>
            <div class="col">
                Achtung: Aktuell wird nur der Wert für den Speed Mode übernommen.

                Erfolgreich getestet auf Mi Pro2. Mi 1S noch nicht getestet.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-check-label">Speed Mode (mA):</label>
                <input class="form-control" name="speed_ampere" type="number" step="1" min="0" max="65535" value="25000" disabled>
            </div>
            <div class="col">
                <label class="form-check-label">Normal Mode (mA):</label>
                <input class="form-control" name="normal_ampere" type="number" step="1" min="0" max="65535" value="17000" disabled>
            </div>
            <div class="col">
                <label class="form-check-label">Eco Mode (mA):</label>
                <input class="form-control" name="eco_ampere" type="number" step="1" min="0" max="65535" value="7000" disabled>
            </div>
        </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            Achtung: Bitte prüfe vor dem Patchen erneut, ob alle gemachten Eingaben passen!!<br />
        </div>
        <div class="col">
            <b><label id="drvselect" for="file">Datei auswählen:</label></b>
              <input type="file" id="file" name="filename">
          <input type="submit" value="Patch!">
        </div>
    </div>
    </form>

    <div class="row">
        <div class="col">
            <b><span style="color: red;">&#9888;&nbsp;NEW </span>Dieses Tool erstellt eine .zip Datei mit sowohl verschlüsselter als auch entschlüsselter Firmware und einer info.txt.</b><br>
            <b><span style="color: red;">&#9888;&nbsp;NEW </span>Zum Flashen benutze z.B. von CamiAlfa die App <a href="https://play.google.com/store/apps/details?id=com.m365downgrade">m365 DownG</a></b>.
            Sie wählt automatisch die korrekte Firmware für deinen Scooter. Bitte nicht die .zip Datei mit alten / gepatchten Apps flashen!
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            Credits an VooDooShamane (RollerPlausch) für <a href="https://rollerplausch.com/threads/vlt-firmwares-in-de-22kmh-mit-neuster-vanilla-firmware-und-vieles-mehr.3197/">seine Arbeit</a> an den Offsets!
            Leistungsparameter und DPC Mod für DRV236/DRV304 von NandTek.
        </div>
    </div>
    <div class="row">
        <div class="col">
            Mi 1S / Pro2 VLT Firmware Patcher by dnandha: <a href="https://github.com/dnandha/vlt-firmware-patcher" target="_blank">https://github.com/dnandha/vlt-firmware-patcher</a> <br/>
            Basiert auf BotoX' m365 Firmware Patcher: <a href="https://github.com/BotoX/xiaomi-m365-firmware-patcher" target="_blank">https://github.com/BotoX/xiaomi-m365-firmware-patcher</a>
        </div>
    </div>
</div>

<script>
    var forms = {
        "VERSION": "version",
        "BRAKELIGHT_MOD": "brakelight_mod",
        "SPEED_PLUS2": "speed_plus2",
        "MOTOR_START_SPEED": "motor_start_speed",
        "REMOVE_KERS": "remove_kers",
        "REMOVE_AUTOBRAKE": "remove_autobrake",
        "REMOVE_CHARGING_MODE": "remove_charging_mode",
        "SPEED_PARAMS": "speed_params",
        "SPEED_AMPERE": "speed_ampere",
        "NORMAL_AMPERE": "normal_ampere",
        "ECO_AMPERE": "eco_ampere",
        "DPC": "dpc",
    };

    var formValues = Object.values(forms);
    var queryStrings = window.location.search.substring(1);
    var queries = queryStrings.split('&');

    for (var i = 0; i < queries.length; i++) {
        var query = queries[i];
        var tmp = query.split('=');
        var found = false;

        for (var j = 0; j < formValues.length; j++) {
            if (formValues[j] === tmp[0]) {
                found = true;
                break;
            }
        }

        if(found) {
            if (tmp[1] === 'on') {
                tmp[1] = true;
            }

            ChangeForm(tmp[0], tmp[1], true);
        }
    }

    function GetForm(name) {
        return document.getElementsByName(name)[0];
    }

    function GetFormValue(name) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            return o.checked;
        }

        return o.value;
    }

    function GetPatchCheckBox(name) {
        var form = GetForm(name);
        if(form.type != "checkbox") {
            return form.parentElement && form.parentElement.nextElementSibling && form.parentElement.nextElementSibling.children[0];
        }
    }

    function CheckForm(name, cb) {
        GetForm(name).disabled = !cb.checked;
    }

    function ChangeForm(name, value, patch) {
        var o = GetForm(name);

        if (o.type === "checkbox") {
            o.checked = value;
        } else {
            o.value = value;
        }
        if(o.onchange) { o.onchange(); }

        if (typeof patch === 'boolean') {
            var cb = GetPatchCheckBox(name);

            if (cb) {
                cb.checked = patch;
                if(cb.onchange) { cb.onchange(); }
            }
        }
    }

    function ChangeVersionText(version){
        var version = document.getElementById("verselect").value;
        var name = document.getElementById("drvselect").value;
	document.getElementById("drvselect").innerHTML = `"${version}.bin" auswählen:`;
    }


    function Preset_Default() {
        ChangeForm(forms.BRAKELIGHT_MOD, false);
        ChangeForm(forms.SPEED_PLUS2, false);
        ChangeForm(forms.MOTOR_START_SPEED, "5.0", false);
        ChangeForm(forms.REMOVE_KERS, false);
        ChangeForm(forms.REMOVE_AUTOBRAKE, false);
        ChangeForm(forms.REMOVE_CHARGING_MODE, false);
        ChangeForm(forms.SPEED_PARAMS, false);
        ChangeForm(forms.DPC, false);
    }

    function Preset_Mi1S() {
	Preset_Default();
	ChangeVersionText("DRV304");
        ChangeForm(forms.VERSION, "DRV304");
        ChangeForm(forms.SPEED_AMPERE, "20000");
        ChangeForm(forms.NORMAL_AMPERE, "15000");
        ChangeForm(forms.ECO_AMPERE, "7000");
    }

    function Preset_MiPro2() {
	Preset_Default();
	ChangeVersionText("DRV236");
        ChangeForm(forms.VERSION, "DRV236");
        ChangeForm(forms.SPEED_PARAMS, false);
        ChangeForm(forms.SPEED_AMPERE, "25000");
        ChangeForm(forms.NORMAL_AMPERE, "17000");
        ChangeForm(forms.ECO_AMPERE, "7000");
    }
</script>

</body>
