<html>
    <body>
        <p>
        This website does not collect any user data.<br/>
        Uploaded files are kept in memory and do not get stored in any way.<br/>
        The memory is cleared after the selected operation.<br/>
        <br/>
        This website tracks the number of times the submit buttons have been clicked.<br/>
        Again, this information does not contain any user data.<br/>
        <br/>
        The hosting provider might log access data such as IP address and time of access.<br/>
        If you have any questions about storage of the access data, please contact the hosting provider directly:<br/>
        PythonAnywhere LLP is registered in England and Wales, under Anaconda Services (UK) Limited with a registered address of<br/>
        5 The Green,<br/>
        Richmond TW9 1PL<br/>
        United Kingdom<br/>

        </p>
    </body>
</html>
